html { 
    background: url("https://images.creativemarket.com/0.1.0/ps/1454556/300/200/m2/fpc/wm0/ablqoshleofzfi3rk6ecev2mvpjyt2wqnkouwsx6xeucu6rrvkemkbfjzhtahj8a-.jpg?1468568828&s=2a415535646f8c61ad066c3e843736f7") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
fieldset{
    font-size: 30px;
    font-family: 'Dokdo', cursive;
    background-color: brown;
    color: burlywood;
}


table  {
   
    font-size: 50px;
    font-family: 'Dokdo', cursive;
    background-color: burlywood;
    margin: 20px;
    margin-top: 200px;
   

}
th  {
    color:burlywood ;
    font-size: 25px;
    font-family: 'Dokdo', cursive;
    background-color: brown;
    border: 2px rgb(245, 40, 33);
    column-width: 300px;
    
}
tr  {
    background-color:brown ;
    text-align: center;
    font-family: 'Dokdo', cursive;
    color: burlywood;
    font-size: 40px;
    width: 200px;
    border: 2px solid rgb(218, 154, 94);
    padding: 50px;
    margin: 2px;
   

}
td {
    background-color: brown;
    color: burlywood;
}
header{

    background-color: brown;
    margin: auto;
    text-align: left;
    float: left;
    width:100% ;
    margin-bottom: 50px ;
    padding-left: 30px;
}
.a{
    width:25% ;
    color: brown;
    background-color: burlywood;
    text-align: center;
    font-size: 50px;
}
.div{
    background-color: brown;
    text-align: left;
    float: left;
    margin-top: 50px;
    color: burlywood;
    font-size: 25px;
    font-family: 'Dokdo', cursive;
    padding-left: 30px;
    width: 700px;
    margin-right: 0px;
}
a:hover {
    background-color: yellow;
  }
  img{
    position: absolute;
    left: 600px;
    top: 180px;
    z-index: -1;
    width:900px ;
    height: 500px;
  }