html { 
    background: url("https://images.creativemarket.com/0.1.0/ps/1454556/300/200/m2/fpc/wm0/ablqoshleofzfi3rk6ecev2mvpjyt2wqnkouwsx6xeucu6rrvkemkbfjzhtahj8a-.jpg?1468568828&s=2a415535646f8c61ad066c3e843736f7") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  *{
    color: orangered;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
  }
fieldset{
    font-size: 30px;
    
    color: burlywood;
    background-color: rgb(223, 178, 111);
}


table  {
   
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: firebrick;
    margin: 20px;
    margin-top: 200px;
   

}
th  {
    color: darkorange;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    border: 2px rgb(245, 40, 33);
    column-width: 300px;
    background-color: lightsalmon;
}
tr  {
    background-color:rgb(110, 6, 6) ;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: burlywood;
    font-size: 40px;
    width: 200px;
    border: 2px solid rgb(218, 154, 94);
    padding: 50px;
    margin: 2px;
   

}
td {
    background-color: brown;
    color: burlywood;
    background-color:rgb(110, 6, 6) ;
}
header{

    background-color: brown;
    margin: auto;
    text-align: left;
    float: left;
    width:100% ;
    margin-bottom: 50px ;
    padding-left: 30px;
}
.a{
    width:25% ;
   
    background-color: burlywood;
    text-align: center;
    font-size: 50px;
}
.div{
    background-color: rgb(223, 178, 111);
    text-align: left;
    float: left;
    margin-top: auto;
    margin-bottom: auto;
    color: burlywood;
    font-size: 25px;
    padding-left: 30px;
    width: 50%;
    margin-left: 400px;
    margin-right: auto;
    display: block;
}
a:hover {
    background-color: yellow;
  }
  img{
    margin-bottom: auto;
    left: 600px;
    width:100% ;
    margin-top: auto;
  }
  p{
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  a{
    font-family: 'EB Garamond', serif;
    font-family: 'Montserrat', sans-serif; 
    color: darkblue;
  }