html { 
    background: url("https://images.creativemarket.com/0.1.0/ps/1454556/300/200/m2/fpc/wm0/ablqoshleofzfi3rk6ecev2mvpjyt2wqnkouwsx6xeucu6rrvkemkbfjzhtahj8a-.jpg?1468568828&s=2a415535646f8c61ad066c3e843736f7") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }



table  {
   
    font-size: 50px;
    font-family: 'Dokdo', cursive;
    background-color: burlywood;
    margin: 20px;
    margin-top: 200px;
   

}
th  {
    color:burlywood ;
    font-size: 25px;
    font-family: 'Dokdo', cursive;
    background-color: brown;
    border: 2px rgb(245, 40, 33);
    column-width: 300px;
    
}
tr  {
    background-color:brown ;
    text-align: center;
    font-family: 'Dokdo', cursive;
    color: burlywood;
    font-size: 40px;
    width: 200px;
    border: 2px solid rgb(218, 154, 94);
    padding: 50px;
    margin: 2px;
   

}
td {
    background-color: brown;
    color: burlywood;
}